<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Kum Kum</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <style>
         .col-lg-4, .col-sm-4{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            
         }
         .testimonials {
  padding: 100px 0;
  width: 100%;
 
}
.testimonials h3 {
  margin-bottom: 20px;
}
.testimonials .card {
  border-bottom: 3px #bb952c solid !important;
  transition: 0.5s;
  margin-top: 60px;
  display: inline-block;
}
.testimonials .card i {
  background-color: #d9c361;
  color: #ffffff;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: -40px auto 0 auto;
}
.row{
   overflow: scroll;
   
   
}

      </style>

      

   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-light bg-light justify-content-between">
               <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="#home">Home</a>
                  <a href="#services">Services</a>
                  <a href="/book">Book</a>
                  <br>
                  <br>
                  <p>Email: kumkumbparlour@gmail.com</p>
                  <p>Phone No: 9886520122</p>
                  <p>Timings: 11am - 6pm</p>
                 
               </div>
               <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
               <a class="logo" href="/">KUM KUM</a></a>
              
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital" id="home">Kum Kum</h1>
                           <p class="banner_text">we offer a wide range of services designed to enhance your natural beauty and leave you feeling pampered and rejuvenated.</p>
                           <br>
                           <p>Timings: 11am - 6pm</p>
                           <div class="read_bt"><a href="/book">Book Now</a></div>
                           <br>
                         
                        </div>
                        
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="images/banner-img.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Kum Kum</h1>
                           <p class="banner_text">we offer a wide range of services designed to enhance your natural beauty and leave you feeling pampered and rejuvenated.</p>
                          <br>
                          <p>Timings: 11am - 6pm</p>
                           <div class="read_bt"><a href="/book">Book Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="images/banner-img.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Kum Kum</h1>
                           <p class="banner_text">we offer a wide range of services designed to enhance your natural beauty and leave you feeling pampered and rejuvenated.</p>
                           <br>
                           <p>Timings: 11am - 6pm</p>
                           <div class="read_bt"><a href="/book">Book Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="images/banner-img.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Kum Kum</h1>
                           <p class="banner_text">we offer a wide range of services designed to enhance your natural beauty and leave you feeling pampered and rejuvenated.</p>
                           <br>
                           <p>Timings: 11am - 6pm</p>
                           <div class="read_bt"><a href="/book">Book Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="images/banner-img.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <center>
               <div class="col-sm-8" >
                  <h1 class="product_taital" id="services">Our Services</h1>
                  <p class="product_text">We provide a wide range of services</p>
               </div>
            </center>
            </div>
            <div class="product_section_2 layout_padding">
               <h3>Hair Treatment</h3>
               <div class="row">
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                      
                        <h4 class="bursh_text">SPA</h4>
                        <p class="lorem_text"></p>
                        <img src="images/spa.jpeg" class="image_1">
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Keratin</h4>
                     
                        <img src="images/keratin.jpeg" class="image_1">
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Hair Fall Treatement</h4>
                        
                        <img src="images/hairfall.jpeg" class="image_1">
                       
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     
                  </div>
               </div>
<div class="line"></div>
               <h3 style="margin-top: 30px;">Skin Treatement</h3>
               <div class="row">
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Skin Treatement</h4>
                        <img src="images/skin.jpeg" class="image_1">
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Pimple Treatement</h4>
                     
                        <img src="images/pimple.jpeg" class="image_1">
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Skin Type Treatement</h4>
                        <img src="images/skintype.jpeg" class="image_1">
                       
                     </div>
                  </div>
                  
               </div>
               <div class="line"></div>
               <h3 style="margin-top: 30px;">Makeup</h3>
               <div class="row">
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">Nude Makeup</h4>
                        <img src="images/nude.jpeg" class="image_1">
                       
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">HD Makeup</h4>
                        <img src="images/hd.jpeg" class="image_1">
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                     <div class="product_box">
                        <h4 class="bursh_text">3D Makeup</h4>
                        <img src="images/3d.jpeg" class="image_1">
                        
                     </div>
                  </div>
                 
               
               </div>
               
            </div>
         </div>
      </div>
      <!-- product section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="about_section_main">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_taital_main">
                        <h1 class="about_taital">About Our beauty parlour</h1>
                        <p class="about_text">Indulge in a blissful escape with our rejuvenating skincare treatments. Our licensed estheticians offer a wide range of facials, customized to address your specific skin concerns, leaving you with a refreshed and glowing complexion. We also provide relaxing body massages, body wraps, and pampering spa treatments to help you unwind and revitalize.</p>
                     
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div><img src="images/about-img.png" class="image_3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- customer section start -->
      
      <!-- customer section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="contact_taital">BOOK NOW</h1>
                  <p class="contact_text">Your satisfaction is our top priority, and we are committed to exceeding your expectations with every visit. </p>
               </div>
               <div class="col-md-6">
                  <div class="contact_main">
                     <div class="contact_bt"><a href="/book">Book Now</a></div>
                   
                  </div>
               </div>
            </div>
         </div>
         <div class="testimonials text-center">
            <h3>Testimonials</h3>
            <div class="container" style=" height: 300px;  overflow: scroll;">
            
              <div class="row">
                
               <% feedList.forEach(function(p) { %>
                <div class="col-md-6 col-lg-4">
                  <div class="card border-light bg-light text-center">
                    <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
                    <div class="card-body blockquote">
                      <p class="card-text">
                        Review: <%= p.message %>
                      </p>
                      <footer class="blockquote-footer"><cite title="Source Title"><%= p.name %></cite></footer>
                    </div>
                  </div>
               </div>
                <% }) %>
         
                
            </div>
         </div>
         
         </div>
         <div class="map_main">
            <div class="map-responsive">
               <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3808.8178605932567!2d76.81645499999999!3d17.324334999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTfCsDE5JzI3LjYiTiA3NsKwNDgnNTkuMiJF!5e0!3m2!1sen!2sin!4v1686020977245!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
         </div>
      </div>
      
 
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
            <div class="contact_section_2">
               <div class="row" style="margin-top: -50px;">
                  <div class="col-sm-4">
                     <h3 class="address_text">Contact Us</h3>
                     <div class="address_bt">
                        <ul>
                           <li>
                              <a href="#">
                              <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left10">Address : Godutai Nagar,Kalaburagi</span>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Call : +919886520122</span>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left10">Email : kumkumbparlour@gmail.com</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="footer_logo_1"><h1 style="color: white; ">KUM KUM</h1></a></div>
                     <p class="dummy_text">Discover the beauty within you and embrace a world of elegance and self-care with us.</p>
                  </div>
                  <div class="col-sm-4">
                     <div class="main">
                        <h3 class="address_text">Best Services</h3>
                        <p class="ipsum_text">Hair Treatement. Skin Treatement.  Advance Makeup.</p>
                     </div>
                  </div>
               </div>
            </div>
           
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
     
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script> 
   </body>
</html>